body {
  margin: auto;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
canvas {
  border: 1px solid #000;
  margin: 10px;
}
.controls {
  margin: 10px;
  display: none;
}
.coordinates {
  margin: 10px;
}
.canvases {
  display: flex;
}
.canvases h4 {
  max-width: 600px;
}
.flex {
  display: flex;
  flex-direction: column;
}
.explanation span {
  font-size: 0.75rem;
}
.clear {
  padding: 1rem;
  background: rgb(120, 27, 27);
  color: white;
  font-size: 2rem;
  border: none;
  transition: ease-in-out 0.5s;
}
.clear:hover {
  background-color: rgb(143, 50, 50);
}
